# =========================
# Backend (.NET)
# =========================
MyAppBackend/bin/ linguist-vendored
MyAppBackend/obj/ linguist-vendored

# =========================
# Frontend (Razor)
# =========================
MyAppFrontend/wwwroot/ linguist-vendored

# =========================
# Arquivos gerados/minificados
# =========================
*.min.js linguist-vendored
*.min.css linguist-vendored
*.map linguist-vendored

# =========================
# Arquivos de dependência/config
# =========================
package-lock.json linguist-vendored
yarn.lock linguist-vendored