@inherits LayoutComponentBase
@inject MyAppFrontend.Services.AuthService AuthService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 d-flex align-items-center justify-content-between">
            <span><strong>@AuthService.LoggedInUser</strong></span> 
            <h4 class="fw-bold mb-0">ICAD To-Do-List</h4>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>