<nav class="nav flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="tasks" Match="NavLinkMatch.All">
            <span class="bi bi-list-check"></span> Lista de Tarefas
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="addtask">
            <span class="bi bi-plus-square-fill-nav-menu"></span> Adicionar Nova Tarefa
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="login" style="color: red;">
            <span class="bi bi-box-arrow-right"></span> Logout
        </NavLink>
    </div>
</nav>