@inject MyAppFrontend.Services.AuthService AuthService
@inject NavigationManager Navigation

<nav class="nav flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="tasks" Match="NavLinkMatch.All">
            <span class="bi bi-list-check"></span> Lista de Tarefas
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="addtask">
            <span class="bi bi-plus-square-fill-nav-menu"></span> Adicionar Nova Tarefa
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <button class="nav-link btn btn-link" style="color: red;" @onclick="HandleLogout">
            <span class="bi bi-box-arrow-right"></span> Logout
        </button>
    </div>
</nav>

@code {
    private void HandleLogout()
    {
        AuthService.Logout();
        Navigation.NavigateTo("/?loggedout=true");
    }
}